# Binaries
bin/
bin-int/
Intermediates/

# Visual Studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Object | Temp Files
*.o
*.obj
*.iobj
*.ipdb
*.dwo
*.d

# Precompiled Headers
*.gch
*.pch

# Linker Files
*.ilk

# Debugger Files
*.pdb

# Compiled Libraries
*.dll
*.lib
*.a

# Executables
*.exe

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.meta
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ Cache Files
ipch/
*.aps
*.ncb
*.sdf
*.opendb
*.opensdf
*.cachefile
*.VC.VC.opendb
*.VC.db

# Visual Studio Profiler & Trace Files
*.psess
*.vsp
*.vspx
*.sap
*.e2e

